<?xml version="1.0" encoding="UTF-8"?>

<suite name="Libarary Service Suite">

	<listeners> 
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
	 </listeners> 

   <test name="LibararyServiceTest">
     <classes>
      	<class name="com.epam.test.LibraryServiceTest" />
   	 </classes>
   </test>
</suite>

